@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --main-bg: rgba(255,255,255,0.1);
    --form-bg: rgba(255,255,255, 0.6);
    --body-color: #7D5A50;
    --font-color: #426696;
}

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input{
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(to left, #00aaff, #00ff6c );
}

.container{
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-content: center;
    justify-content: center;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 0 0 20px;
    padding: 2rem;
    color: var(--font-color);
    font-weight: 500;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: -5px -5px 5px rgba(45, 55, 68, 0.30),
                -1px 6px 5px rgba(45, 55, 68, 0.4);
}

.heading h1{
    display: inline-block;
    border: 3px solid black;
    border-radius: 0.8rem;
    padding: 0.3rem 1rem;
    align-self: center;
    margin-bottom: 0.5rem;
    font-weight:800;
}

.message{
    font-size: 0.8rem;
    color: var(--font-color);
}

.instructions{
    margin-top: 1rem;
    background: var(--form-bg);
    border-radius: 0.8rem;
    padding: 2rem;

}

.instruction-items{
    font-size: 0.8rem;
}

ol li{
    list-style-type:disc;
}
ol li::marker {
  color: black;  
}

.underline{
    position: relative;
    display: inline-block;
    font-weight:700; 
}

.mainbar{
    background: var(--main-bg);
    border-radius:0 20px 20px 0;
    padding: 2rem;
    color: var(--font-color);
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 1px 5px 5px rgba(45, 55, 68, 0.40),
               5px -5px 5px rgba(45, 55, 68, 0.30);
}

.form{
    background: var(--form-bg);
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs-text{
    display: grid;
}

.inputs-text input{
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}

.date-of-birth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
}

.radio-buttons{
    margin: 0.5rem 0;
    padding: 0rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    max-width: 100%;
}

input[type='radio']{
    display:none;
}

.radio-buttons > label{
    position: relative;
    color: black;
    font-family: Poppins;
    font-size: 1rem;
    border: 3px solid black;
    padding: 0 0.5rem;
    border-radius: 5px;
    width: 49%;
    gap: 5px;
    text-align: center;
}

input[type='radio']:checked + label {
    background-color: var(--font-color);
    color: white;
}

.btn{
    display: inline-block;
    border: none;
    padding: 0.7rem;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    background:rgba(0,0,0, .9);
    color: rgba(255,255,255, 1);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--font-color);
    color: rgba(255,255,255, 0.9);
}

.text{
    color : black;
    font-size: 0.7rem;
    opacity: 0.2;
}

.side{
    margin-top: 0.5rem;
}

.text a{
    color : black;
    font-size: 0.7rem;
    opacity: 0.7;
}


@media all and (max-width: 650px) {
    .container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
    }

    .sidebar{
        border-radius: 0;
        box-shadow: 0;
        border: 0;
    }

    .mainbar{
        border-radius: 0;
        box-shadow: 0;
        border: 0;
    }
}